<div>
  <div class="modal-header">
    <h4 class="modal-title">Hall</h4>
    <a (click)="activeModal.dismiss('Cross click')">
      <i class="fa fa-times"></i>
    </a>
  </div>

  <div class="modal-body">

    <div class="form-group row">
      <label class="col-2 col-form-label">Cinema Location</label>
      <div class="col-10">
        <select (change)="getCinemaNames($event)" class="form-control input" [(ngModel)]="hall.cinema_location" required>
          <option value="0" disabled selected>Select a Location</option>
          <option *ngFor="let location of locations" [value]="location">{{location}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Cinema Names</label>
      <div class="col-10">
        <select class="form-control input" [(ngModel)]="hall.cinema_name" required>
          <option value="0" disabled selected>Select a Cinema</option>
          <option *ngFor="let name of names" [value]="name">{{name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Hall Number</label>
      <div class="col-10">
        <input class="form-control input" type="number" [(ngModel)]="hall.hall_number" placeholder="5">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Type</label>
      <div class="col-10">
        <input class="form-control input" [(ngModel)]="hall.type" placeholder="7D">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Layout</label>
      <div class="col-10">
        <select class="form-control input" [(ngModel)]="hall.layout" required>
          <option value="0" disabled selected>Select a Layout</option>
          <option *ngFor="let layout of layouts" [value]="layout.id">{{layout.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Seats</label>
      <div class="col-10">
        <input class="form-control input" type="number" [(ngModel)]="hall.number_of_seats" placeholder="5">
      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" (click)="submit()" class="btn btn-success">Done</button>
    <button type="button" (click)="close()" class="btn btn-danger">Cancel</button>
  </div>
