<section class="container">
  <div class="order-container">
    <div class="order">
      <img class="order__images" alt='' src="images/tickets.png">
      <p class="order__title">Book a ticket <br><span class="order__descript">and have fun movie time</span></p>
    </div>
  </div>

  <div class="order-step-area">
    <div class="order-step first--step">Booking a ticket</div>
  </div>

  <br>
  <div>
    <span class="page-heading heading--outcontainer">
      Choosen Movie:
    </span>
    <span class="heading-special--small">
      {{(selectedMovie)? selectedMovie.title: "N/A"}}
    </span>
  </div>
  <br><br>
 


  <div>
      <span class="page-heading heading--outcontainer">
        Choosen Cinema:
      </span>
    <span class="heading-special--small">
        {{(selectedCinema)? selectedCinema.name : "N/A"}}
      </span>
  </div>
  <br><br>

  <div style="alignment: left">
    <span class="page-heading heading--outcontainer">
      Choose a Party:
    </span>
    <mat-form-field>
      <mat-select [(ngModel)] = "choosenDate" (change)="getPartiesAtThisDate()">
        <mat-option value="2018-05-22" selected="selected">2018-05-22</mat-option>
        <mat-option value="High Rates">High Rates</mat-option>
        <mat-option value="Low Rates">Low Rates</mat-option>
        <mat-option value="Latest">Latest</mat-option>
        <mat-option value="Oldest">Oldest</mat-option>
      </mat-select>
    </mat-form-field>  
  </div>
 
  <div class="col-sm-12" >
    <div  class="time-select time-select--wide">
      <div class="time-select__group group--first">
        <div class="col-sm-3">
          <p class="time-select__place">{{selectedCinema.name}}</p>
        </div>
        <ul class="col-sm-6 items-wrap">
            <mat-button-toggle-group #group="matButtonToggleGroup" >
            <mat-button-toggle *ngFor="let party of parties" (click)="updateParty(party)"  value='false'>{{party.time}}   </mat-button-toggle>

          </mat-button-toggle-group>

        </ul>
      </div>


    </div>

  </div>
  
</section>

<div class="booking-pagination booking-pagination--margin">

  <a (click)="submitParty()" href="/booking/seating" class="booking-pagination__next">
    <span class="arrow__text arrow--next">Next Step</span>
    <span class="arrow__info">Seating</span>
  </a>
</div>
