<section class="container">
    <div class="col-sm-12">
        <h2 class="page-heading"> Date</h2>

        <div class="choose-container choose-container--short">
            <div class="datepicker">
              <span class="datepicker__marker"><i class="fa fa-calendar"></i>Date</span>
              <input type="text" id="datepicker" value='03/10/2014' class="datepicker__input">
            </div>
        </div>

        <h2 class="page-heading">Pick time</h2>

        <div class="time-select time-select--wide">
                <div *ngFor = "let party of parties" class="time-select__group group--first">
                    <div class="col-sm-3">
                        <p class="time-select__place">Cineworld</p>
                    </div>
                    <ul *ngFor = "let party of parties" class="col-sm-6 items-wrap">
                        <li *ngFor = "let party of parties" class="time-select__item" data-time={{party.date_time}}>{{party.date_time}}</li>
                    </ul>
                </div>
            </div>
    </div>

</section>