
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

<div *ngIf="alert.active">
  <ngb-alert [type]="alert.type" (close)="closeAlert()">{{alert.message}}</ngb-alert>
</div>

<div class="form-group card">
  <input class="form-control input" type="text" name="search" placeholder="search" [(ngModel)] = "term">
</div>

<!--  Start of View Promocodes card -->
<div class="card">
  
  <div class="card-header">
    Promocodes
    <button type="button" (click) = "addPromocode()" class="btn btn-success mr-1 ml-auto">Add Promocode</button>
  </div>
  
  <div class="card-body" *ngIf = "assignedPromocodeView">
      <div style="align-self: center; width: 100%">
        <button style="align-self: left; width: 49.5%" type="button" class="btn btn-info mr-1 mb-1" (click) = "assignedPromocodeView = true" *ngIf = "!assignedPromocodeView">Promocode assigned view</button>
        <button style="align-self: left; width: 49.5%" type="button" class="btn btn-primary mr-1 mb-1" *ngIf = "assignedPromocodeView">Promocode assigned view</button>
        <button style="align-self: right; width: 49.5%" type="button" class="btn btn-info mr-1 mb-1" (click) = "assignedPromocodeView = false" *ngIf = "assignedPromocodeView">Promocode list view</button>
        <button style="align-self: right; width: 49.5%" type="button" class="btn btn-primary mr-1 mb-1" *ngIf = "!assignedPromocodeView">Promocode list view</button>
      </div>

    <div class="table-responsive">
      <table class="table table-bordered table-striped mb-0">

        <!--  Table Header -->
        <thead>
          <tr>
            <th>
              Promocode
            </th>
            <th>
              Type
            </th>
            <th>
              Value
            </th>
            <th>
              Cinema name
            </th>
            <th>
              Location
            </th>
          </tr>
        </thead>

        <!--  Table Body  -->
        <tbody>
          <tr *ngFor = "let promocode of promocodesWithCinema |filter:term | paginate: { itemsPerPage: 3,currentPage: p}">
            <td>
              {{ promocode.promocode }}
            </td>
            <td>
              {{ promocode.type }}
            </td>
            <td>
              {{ promocode.value }}
            </td>
            <td>
              {{ promocode.cinema_name }}
            </td>
            <td>
              {{ promocode.cinema_location }}
            </td>
           </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>
  </div>

  <div class="card-body" *ngIf = "!assignedPromocodeView">
      <div style="align-self: center; width: 100%">
        <button style="align-self: left; width: 49.5%" type="button" class="btn btn-info mr-1 mb-1" (click) = "assignedPromocodeView = true" *ngIf = "!assignedPromocodeView">Promocode assigned view</button>
        <button style="align-self: left; width: 49.5%" type="button" class="btn btn-primary mr-1 mb-1" *ngIf = "assignedPromocodeView">Promocode assigned view</button>
        <button style="align-self: right; width: 49.5%" type="button" class="btn btn-info mr-1 mb-1" (click) = "assignedPromocodeView = false" *ngIf = "assignedPromocodeView">Promocode list view</button>
        <button style="align-self: right; width: 49.5%" type="button" class="btn btn-primary mr-1 mb-1" *ngIf = "!assignedPromocodeView">Promocode list view</button>
      </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped mb-0">
        
        <!--  Table Header -->
        <thead>
          <tr>
            <th>
              Promocode
            </th>
            <th>
              Type
            </th>
            <th>
              Value
            </th>
            <th>
              Actions
            </th>
            </tr>
        </thead>
      
        <!--  Table Body  -->
        <tbody>
          <tr *ngFor = "let promocode of promocodes |filter:term">
            <td>
              {{ promocode.promocode }}
            </td>
            <td>
              {{ promocode.type }}
            </td>
            <td>
              {{ promocode.value }}
            </td>
            <td>
              <div id="actions">
                <a (click)="editPromocode(promocode)" ngbTooltip="Edit">
                  <i class="fas fa-edit"></i>
                </a>
                <a (click)="delete(promocode)" ngbTooltip="Delete">
                  <i class="fas fa-trash-alt"></i>
                </a>
                <a (click) = "assignPromocodeToCinema(promocode)" ngbTooltip="Assign Promocode to cinema" ><b>Assign</b></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf = "assignedPromocodeView">
    {{ existPromocodesAssigned }}
  </div>
  <div *ngIf = "!assignedPromocodeView">
    {{ existPromocodes }}
  </div>
</div>
<!--  End of View Promocodes card -->

