
<div class="card">
<div class="card-header">
  <div>
    Actions
  </div>
  <div>
    <button type="button" class="btn btn-success mr-1 mb-1" (click) = "togglePromocodeActions()" *ngIf = "!promocodeActions">Show Actions</button>
    <button type="button" class="btn btn-danger mr-1 mb-1" (click) = "togglePromocodeActions()" *ngIf = "promocodeActions">Hide Actions</button>
  </div>
</div>

<div class="card-body">

<div class="card" *ngIf = "promocodeActions">
  <div class="card-header">
    Assign promocode to cinema
  </div>
  <div class="card-body">
    <select class="form-control" [(ngModel)]="promocodeValue">
      <option *ngFor = "let promocode of promocodesToShow" value={{promocode.promocode}} >{{ promocode.promocode }}</option>
    </select><br/>
    <select class="form-control" [(ngModel)]="cinemaValue" >
      <option *ngFor = "let cinema of cinemasToShow" value="{{cinema.name}},{{cinema.location}}"   >{{ cinema.name }} , {{ cinema.location }}</option>
    </select><br/>
    <button (click)="assignPromocodeToCinema()" type="button" class="btn btn-success mr-1 mb-1">Assign</button>
    <br/>
  </div>
</div>

<!--  Start Of Adding A Promocode -->
<div class="card" *ngIf = "promocodeActions">
  <div class="card-header">
    Add new promocode
  </div>
  <div class="card-body">
  
    <h5 style="margin-top: 1px">Promocode</h5>          
    <input id="input1" type="text" class="form-control mb-3">

    <h5 style="margin-top: 10px">Type</h5>    
    <input id="input1" type="text" class="form-control mb-3"> 
  
    <h5 style="margin-top: 10px">Value</h5>    
    <input id="input1" type="text" class="form-control mb-3"> 
  
    <button type="button" class="btn btn-success mr-1 mb-1">Add</button>
  </div>
</div>
<!--  End Of Adding A Promocode -->
</div>
</div>

<!--  Start of View Promocodes card -->
<div class="card">
  
  <div class="card-header">
    View promocodes
  </div>
  
  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0">

        <!--  Table Header -->
        <thead>
          <tr>
            <th>
              Promocode
            </th>
            <th>
              Type
            </th>
            <th>
              Value
            </th>
            <th>
              Cinema name
            </th>
            <th>
              Location
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>

        <!--  Table Body  -->
        <tbody>
          <tr *ngFor = "let promocode of promocodes">
            <td>
              {{ promocode.promocode }}
            </td>
            <td>
              {{ promocode.type }}
            </td>
            <td>
              {{ promocode.value }}
            </td>
            <td>
              {{ promocode.cinema_name }}
            </td>
            <td>
              {{ promocode.cinema_location }}
            </td>
            <td>
              <button type="button" class="btn btn-danger">
                <div class="icon icon-basic-trashcan"></div>
              </button>
              <button type="button" class="btn btn-info mr-1 mb-1">Edit</button>
            </td>
           </tr>
        </tbody>

      </table>
    </div>
  </div>
  {{ existPromocodes }}
</div>
<!--  End of View Promocodes card -->
