<div class="ticket-view" style=" align-self: center; margin: 0 auto;">
  <div class="ticket">
    <div class="ticket-position">

      <div class="ticket__indecator indecator--pre">
        <div class="indecator-text pre--text">NEW TICKET</div>
      </div>

      <div class="ticket__inner">

        <div class="ticket-secondary">
          <span class="ticket__item">Reservation ID:
            <strong class="ticket__number">"New Ticket"</strong>
          </span>

          <!-- ----------DATE & TIME OF TICKET---------- -->
          <div class="ticket__date">

            <span class="btn-group">

              <span class="btn-group " ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button [disabled]="!selectedPartyDate" class="btn btn-outline-danger" ngbDropdownToggle>
                  {{(selectedPartyDate)? (selectedPartyDate.split("T")[0]): "N/A"}}
                </button>
                <span class="dropdown-menu" ngbDropdownMenu>
                  <span *ngFor="let date of partiesDatesList">
                    <button class="dropdown-item" (click)="selectPartyDate(date)">{{date.split("T")[0]}}</button>
                  </span>
                </span>
              </span>

              <span class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button [disabled]="!selectedPartyTime" class="btn btn-outline-success" ngbDropdownToggle>
                  {{(selectedPartyTime)? selectedPartyTime : "N/A" }}
                </button>
                <span class="dropdown-menu" ngbDropdownMenu>
                  <span *ngFor="let time of partiesTimesList">
                    <button class="dropdown-item" (click)="selectPartyTime(time)">{{time}}</button>
                  </span>
                </span>
              </span>

            </span>

          </div>
        </div>

        <!-- ----------MOVIE AND HALL OF TICKET---------- -->
        <div class="ticket-primery">
          <div ngbDropdown class=" ticket__item ticket__item--primery ticket__film" style="align-self: center; width: 100%">
            Movie
            <button class="btn btn-outline-primary form-control" ngbDropdownToggle>
              <label>
                {{(selectedMovie)? selectedMovie.title : "N/A"}}
              </label>
            </button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic1">
              <div *ngFor="let movie of moviesList">
                <button class="dropdown-item" (click)="selectMovie(movie)">{{movie.title}}</button>
              </div>
            </div>
          </div>

          <span class="ticket__item ticket__item--primery">Hall:
            <strong class="ticket__hall">
              {{(selectedHall) ? selectedHall: "N/A"}}
            </strong>
          </span>
        </div>
      </div>

      <div class="ticket__indecator indecator--post">
        <div class="indecator-text post--text">NEW TICKET</div>
      </div>
    </div>
  </div>

</div>

<br>


<div class="table-responsive" style="margin-bottom: 40px; width: 90%">
  <div *ngIf="flag" id="layout">
    <div [ngClass]="{'margin-seats': row.margin}" class="row" *ngFor="let row of encoding; let i = index">
      <button disabled="" class="btn primary mr-1 mb-1">{{letter(i)}}</button>
      <div style="display: block !important" *ngFor="let seat of row.row; let j = index">
        <button *ngIf="seat != 'offset' && !booked(seat.seat.number)" class="btn mr-1 mb-1" (click)="select(i,j,seat.seat.number)" [ngClass]="{'btn-secondary': !selected[i][j], 'btn-success': selected[i][j]}">{{seat.seat.number}}</button>
        <button  *ngIf="seat != 'offset' && booked(seat.seat.number)" disabled="" class="btn primary mr-1 mb-1">{{seat.seat.number}}</button>
        <button *ngIf="seat == 'offset'" class="btn mr-1 mb-1" disabled="" style="background: none;"></button>
      </div>
    </div>
    <div id="numbers" class="row">
      <div *ngFor="let number of encoding[0].row; let i = index">
        <button disabled="" class="btn primary mr-1 mb-1">{{i+1}}</button>
      </div>
    </div>
  </div>
</div>


<div style="align-content: center; clear: none; width: 50%; margin: 0 auto; display: block">

  <div class="form-control" style="float: inherit">
    <h1 class="ticket__cost">Price: {{(totalPrice) ? totalPrice : "N/A"}}</h1>
  </div>
  <br>
  <div style="margin: 0 auto;float: inherit">
    <button type="button" class="btn-outline-primary btn-lg mr-5 mb-lg-3 " [disabled]="!ticketIsLoaded" (click)="makeReservation()">
      {{statusOfTicket}}
    </button>
  </div>

</div>
