<div class="search-wrapper">
  <div class="container container--add">
      <form id='search-form' method='get' class="search">
          <input #search type="text" class="search__field" placeholder="Search" (keydown.enter)="onSearch(search.value)">
          <button (click) = "onSearch(search.value)" type='submit' class="btn btn-md btn--danger search__button">Search</button>
      </form>
  </div>
</div>



<!-- Main content -->
<section class="container">
        <div id="search" class="col-sm-12">
                <div class="mega-select-present mega-select-top mega-select--full">
                  <div class="mega-select-marker">
                    <div class="marker-indecator location">
                      <p class="select-marker">
                        <span>movie to watch now</span>
                        <br>in your city</p>
                    </div>
            
                    <div class="marker-indecator cinema">
                      <p class="select-marker">
                        <span>find your </span>
                        <br>cinema</p>
                    </div>
            
                    <div class="marker-indecator film-category">
                      <p class="select-marker">
                        <span>find movie due to </span>
                        <br> your mood</p>
                    </div>
            
                    <div class="marker-indecator actors">
                      <p class="select-marker">
                        <span> like particular stars</span>
                        <br>find them</p>
                    </div>
                  </div>
            
                  <div class="mega-select pull-right">
                    <span class="mega-select__point"> You can search with: </span>
                    <ul class="mega-select__sort">
                      
                      <li class="filter-wrap">
                        <a href="#" class="mega-select__filter filter--active" data-filter='cinema'>Cinema</a>
                      </li>
                      <li class="filter-wrap">
                        <a href="#" class="mega-select__filter" data-filter='film-category'>Category</a>
                      </li>
                      <li class="filter-wrap">
                        <a href="#" class="mega-select__filter" data-filter='actors'>Actors</a>
                      </li>
                    </ul>
            
                    
                    
                  </div>
                </div>
              </div>
  <div class="col-sm-12">
      <h2 class="page-heading">Movies</h2>
      
      <!-- Movie preview item -->
      <div *ngFor="let movie of movies"  class="movie movie--preview movie--full release">
           <div [routerLink] = '' (click)= "getMovieInfo(movie)" class="col-sm-3 col-md-2 col-lg-2">
                  <div class="movie__images">
                      <img alt='' src={{movie.imagePath}}>
                  </div>
          </div>

          <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
                  <a [routerLink] = '' (click)= "getMovieInfo(movie)" class="movie__title link--huge">{{movie.title}}</a>

                  <p class="movie__time">{{movie.duration}} hrs</p>

               
                  <p class="movie__option"><strong>Category: </strong>{{movie.genre}}</p>
                  <p class="movie__option"><strong>Release date: </strong>{{movie.year}}</p>

                  <div class="movie__btns">
                    <a href="#" class="btn btn-md btn--warning">book a ticket <span class="hidden-sm">for this movie</span></a>
                    <a href="#" class="watchlist">Add to watchlist</a>
                </div>

                  <div class="preview-footer">
                    <div class="movie__rate"><p class="movie__rate-number"><strong> Rating</strong></p> <span class="movie__rating">{{movie.rating}}</span></div>
                    <a href="#" class="movie__show-btn">Showtime</a>
                </div>
          </div>

          <div class="clearfix"></div>
          
          
      </div>
      <!-- end movie preview item -->

  </div>

  <div class="col-sm-12">
    <h2 class="page-heading">Cinemas</h2>
    
    <!-- Cinema perview item -->
    <div *ngFor="let cinema of cinemas"  class="movie movie--preview movie--full release">

     <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
             <a [routerLink] = '' (click)= "getCinemaInfo(cinema)" class="movie__title link--huge">{{cinema.name}}</a>

             <p class="movie__time">{{cinema.company}}</p>

          
             <p class="movie__option"><strong>Address: </strong><a href="#">{{cinema.address}}</a></p>
             <p class="movie__option"><strong>Location: </strong>{{cinema.location}}</p>

     </div>
    </div>

    <div class="clearfix"></div>
     
     
   </div>
 <!-- end cinema preview item -->

  <div class="col-sm-12">
    <h2 class="page-heading">Actors</h2>
    <!-- Cinema perview item -->
    <div *ngFor="let actor of actors"  class="movie movie--preview movie--full release">

      <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
              <a href='movie-page-full.html' class="movie__title link--huge">{{actor.name}}</a> 
           
              <p class="movie__option"><strong>Age: </strong>{{actor.age}}</p>
              <p class="movie__option"><strong>Bio: </strong>{{actor.bio}}</p>
 
      </div>
      </div>
      <div class="clearfix"></div>
  </div>

</section>
