<div class="search-wrapper">
  <div class="container container--add">
      <form id='search-form' method='get' class="search">
          <input #search type="text" class="search__field" placeholder="Search" (keydown.enter)="onSearch(search.value)">
          <select name="sorting_item" id="search-sort" class="search__sort" tabindex="0">
              <option value="1" selected='selected'>By title</option>
              <option value="2">By year</option>
              <option value="3">By producer</option>
              <option value="4">By title</option>
              <option value="5">By year</option>
          </select>
          <button (click) = "onSearch(search.value)" type='submit' class="btn btn-md btn--danger search__button">search a movie</button>
      </form>
  </div>
</div>

<!-- Main content -->
<section class="container">
  <div class="col-sm-12">
      <h2 class="page-heading">Movies</h2>
       <div class="tags-area">
          <div class="tags tags--unmarked">
              <span class="tags__label">Sorted by:</span>
              <mat-form-field>
                  <mat-select #sortedBy (change)="SpecifySortingFilter(sortedBy.value)">
                    <mat-option value="Not sorted" selected="selected">Not sorted</mat-option>
                    <mat-option value="High Rates">High Rates</mat-option>
                    <mat-option value="Low Rates">Low Rates</mat-option>
                    <mat-option value="Latest">Latest</mat-option>
                    <mat-option value="Oldest">Oldest</mat-option>
                  </mat-select>
                </mat-form-field> <br> 
                  <span class="tags__label">Filtered by Genre:</span>
                  <mat-form-field>
                  <mat-select #genreFilter (change)="SpecifyGenre(genreFilter.value)">
                    <mat-option value="No filter" selected="selected">No filter</mat-option>
                    <mat-option value="Action">Action</mat-option>
                    <mat-option value="Adventure">Adventure</mat-option>
                    <mat-option value="Biography">Biography</mat-option>
                    <mat-option value="Comedy">Comedy</mat-option>
                    <mat-option value="Drama">Drama</mat-option>
                    <mat-option value="Horror">Horror</mat-option>
                    <mat-option value="Thriller">Thriller</mat-option>
                  </mat-select>
                  </mat-form-field>
          </div>
      </div>
      
      <!-- Movie preview item -->
      <div *ngFor="let movie of movies"  class="movie movie--preview movie--full release">
           <div [routerLink] = '' (click)=getMovieInfo(movie)    class="col-sm-3 col-md-2 col-lg-2">
                  <div class="movie__images">
                      <img alt='' src={{movie.imagePath}}>
                  </div>
          </div>

          <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
                  <a  [routerLink] = '' (click)=getMovieInfo(movie)  href='movie-page-full.html' class="movie__title link--huge">{{movie.title}}</a>

                  <p class="movie__time">{{movie.duration}} hrs</p>

               
                  <p class="movie__option"><strong>Category: </strong><a href="#">{{movie.genre}}</a></p>
                  <p class="movie__option"><strong>Release date: </strong>{{movie.year}}</p>
    
                  <div class="movie__btns">
                    <div *ngIf="movie.feature == 2 || movie.feature == 3">
                        <a href='booking/cinemas' class="btn btn-md btn--warning" (click)="GoToReservation(movie)">book a ticket <span class="hidden-sm">for this movie</span></a>
                    </div>
                        <a href="#" class="watchlist">Add to watchlist</a>
                  </div>

                  <div class="preview-footer">
                      <div class="movie__rate"><p class="movie__rate-number"><strong> Rating</strong></p> <span class="movie__rating">{{movie.rating}}</span></div>
                      

                      <a href="#" class="movie__show-btn">Showtime</a>
                  </div>
          </div>

          <div class="clearfix"></div>
          
          <!-- Time table (choose film start time)-->
          <div class="time-select">
              <div class="time-select__group group--first">
                  <div class="col-sm-4">
                      <p class="time-select__place">Cineworld</p>
                  </div>
                  <ul class="col-sm-8 items-wrap">
                      <li class="time-select__item" data-time='09:40'>09:40</li>
                      <li class="time-select__item" data-time='13:45'>13:45</li>
                      <li class="time-select__item active" data-time='15:45'>15:45</li>
                      <li class="time-select__item" data-time='19:50'>19:50</li>
                      <li class="time-select__item" data-time='21:50'>21:50</li>
                  </ul>
              </div>

              <div class="time-select__group">
                  <div class="col-sm-4">
                      <p class="time-select__place">Empire</p>
                  </div>
                  <ul class="col-sm-8 items-wrap">
                      <li class="time-select__item" data-time='10:45'>10:45</li>
                      <li class="time-select__item" data-time='16:00'>16:00</li>
                      <li class="time-select__item" data-time='19:00'>19:00</li>
                      <li class="time-select__item" data-time='21:15'>21:15</li>
                      <li class="time-select__item" data-time='23:00'>23:00</li>
                  </ul>
              </div>

              <div class="time-select__group">
                  <div class="col-sm-4">
                      <p class="time-select__place">Curzon</p>
                  </div>
                  <ul class="col-sm-8 items-wrap">
                      <li class="time-select__item" data-time='09:00'>09:00</li>
                      <li class="time-select__item" data-time='11:00'>11:00</li>
                      <li class="time-select__item" data-time='13:00'>13:00</li>
                      <li class="time-select__item" data-time='15:00'>15:00</li>
                      <li class="time-select__item" data-time='17:00'>17:00</li>
                      <li class="time-select__item" data-time='19:0'>19:00</li>
                      <li class="time-select__item" data-time='21:0'>21:00</li>
                      <li class="time-select__item" data-time='23:0'>23:00</li>
                      <li class="time-select__item" data-time='01:0'>01:00</li>
                  </ul>
              </div>

              <div class="time-select__group">
                  <div class="col-sm-4">
                      <p class="time-select__place">Odeon</p>
                  </div>
                  <ul class="col-sm-8 items-wrap">
                      <li class="time-select__item" data-time='10:45'>10:45</li>
                      <li class="time-select__item" data-time='16:00'>16:00</li>
                      <li class="time-select__item" data-time='19:00'>19:00</li>
                      <li class="time-select__item" data-time='21:15'>21:15</li>
                      <li class="time-select__item" data-time='23:00'>23:00</li>
                  </ul>
              </div>

              <div class="time-select__group group--last">
                  <div class="col-sm-4">
                      <p class="time-select__place">Picturehouse</p>
                  </div>
                  <ul class="col-sm-8 items-wrap">
                      <li class="time-select__item" data-time='17:45'>17:45</li>
                      <li class="time-select__item" data-time='21:30'>21:30</li>
                      <li class="time-select__item" data-time='02:20'>02:20</li>
                  </ul>
              </div>
          </div>
          <!-- end time table-->

      </div>
      <!-- end movie preview item -->

    
      <div class="coloum-wrapper">
          <div class="pagination paginatioon--full">
                  <a href='#' class="pagination__prev">prev</a>
                  <a href='#' class="pagination__next">next</a>
          </div>
      </div>

  </div>

</section>