<div class="search-wrapper">
  <div class="container container--add">
      <form id='search-form' method='get' class="search">
          <input #search type="text" class="search__field" placeholder="Search" (keydown.enter)="onSearch(search.value)">
          <select name="sorting_item" id="search-sort" class="search__sort" tabindex="0">
              <option value="1" selected='selected'>By title</option>
              <option value="2">By year</option>
              <option value="3">By producer</option>
              <option value="4">By title</option>
              <option value="5">By year</option>
          </select>
          <button (click) = "onSearch(search.value)" type='submit' class="btn btn-md btn--danger search__button">search a movie</button>
      </form>
  </div>
</div>

<!-- Main content -->
<section class="container">
  <div class="col-sm-12">
      <h2 class="page-heading">Movies</h2>
      
      <!-- <div class="select-area">
          <form class="select" method='get'>
                <select name="select_item" class="select__sort" tabindex="0">
                  <option value="1" selected='selected'>London</option>
                  <option value="2">New York</option>
                  <option value="3">Paris</option>
                  <option value="4">Berlin</option>
                  <option value="5">Moscow</option>
                  <option value="3">Minsk</option>
                  <option value="4">Warsawa</option>
                  <option value="5">Kiev</option>
              </select>
          </form>

          <div class="datepicker">
            <span class="datepicker__marker"><i class="fa fa-calendar"></i>Date</span>
            <input type="text" id="datepicker" value='03/10/2014' class="datepicker__input">
          </div>

          <form class="select select--cinema" method='get'>
                <select name="select_item" class="select__sort" tabindex="0">
                  <option value="1" selected='selected'>Cineworld</option>
                  <option value="2">Empire</option>
                  <option value="3">Everyman</option>
                  <option value="4">Odeon</option>
                  <option value="5">Picturehouse</option>
              </select>
          </form>

          <form class="select select--film-category" method='get'>
                <select name="select_item" class="select__sort" tabindex="0">
                  <option value="2" selected='selected'>Children's</option>
                  <option value="3">Comedy</option>
                  <option value="4">Drama</option>
                  <option value="5">Fantasy</option>
                  <option value="6">Horror</option>
                  <option value="7">Thriller</option>
              </select>
          </form>

      </div> -->

       <div class="tags-area">
          <div class="tags tags--unmarked">
              <span class="tags__label">Sorted by:</span>
                  <ul>
                      <li class="item-wrap"><a href="#" class="tags__item" data-filter='all' (click)="ngOnInit()"> Home</a ></li>
                      <li class="item-wrap"><a href="#" class="tags__item" data-filter='all' (click)="viewHighRate()">High Rates</a></li>
                      <li class="item-wrap"><a href="#" class="tags__item" data-filter='release'(click)="viewLowRate()">Low Rates</a></li>
                      <li class="item-wrap"><a href="#" class="tags__item" data-filter='popularity'(click)="viewLatest()">Latest</a></li>
                      <li class="item-wrap"><a href="#" class="tags__item" data-filter='comments'(click)="viewOldest()">Oldest</a></li>
                      <li class="item-wrap"><a href="#" class="tags__item" data-filter='ending'(click)="viewAction()">Action</a></li>
                      <li class="item-wrap"><a href="#" class="tags__item" data-filter='ending'(click)="viewAdventure()">Adventure</a></li>
                      <li class="item-wrap"><a href="#" class="tags__item" data-filter='ending'(click)="viewBio()">Biography</a></li>
                      <li class="item-wrap"><a href="#" class="tags__item" data-filter='ending'(click)="viewComedy()">Comedy</a></li>
                      <li class="item-wrap"><a href="#" class="tags__item" data-filter='ending'(click)="viewDrama()">Drama</a></li>
                      <li class="item-wrap"><a href="#" class="tags__item" data-filter='ending'(click)="viewHorror()">Horror</a></li>
                      <li class="item-wrap"><a href="#" class="tags__item" data-filter='ending'(click)="viewThriller()">Thriller</a></li>
                      
                  </ul>
          </div>.
      </div>
      
      <!-- Movie preview item -->
      <div *ngFor="let movie of movies"  class="movie movie--preview movie--full release">
           <div [routerLink] = '' (click)=getMovieInfo(movie)    class="col-sm-3 col-md-2 col-lg-2">
                  <div class="movie__images">
                      <img alt='' src={{movie.imagePath}}>
                  </div>
                 <!--  <div class="movie__feature">
                      <a href="#" class="movie__feature-item movie__feature--comment">123</a>
                      <a href="#" class="movie__feature-item movie__feature--video">7</a>
                      <a href="#" class="movie__feature-item movie__feature--photo">352</a>
                  </div> -->
          </div>

          <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
                  <a  [routerLink] = '' (click)=getMovieInfo(movie)  href='movie-page-full.html' class="movie__title link--huge">{{movie.title}}</a>

                  <p class="movie__time">{{movie.duration}} hrs</p>

               
                  <p class="movie__option"><strong>Category: </strong><a href="#">{{movie.genre}}</a></p>
                  <p class="movie__option"><strong>Release date: </strong>{{movie.year}}</p>
                 <!--  <p class="movie__option"><strong>Actors: </strong><a href="#">Robert De Niro</a>, <a href="#">Michael Douglas</a>, <a href="#">Morgan Freeman</a>, <a href="#">Kevin Kline</a>, <a href="#">Mary Steenburgen</a>, <a href="#">Jerry Ferrara</a>, <a href="#">Romany Malco</a> <a href="#">...</a></p>
 -->
                  <div class="movie__btns">
                    <div *ngIf="movie.feature == 2 || movie.feature == 3">
                        <a href='booking/cinemas' class="btn btn-md btn--warning" (click)="GoToReservation(movie)">book a ticket <span class="hidden-sm">for this movie</span></a>
                    </div>
                        <a href="#" class="watchlist">Add to watchlist</a>
                  </div>

                  <div class="preview-footer">
                      <div class="movie__rate"><p class="movie__rate-number"><strong> Rating</strong></p> <span class="movie__rating">{{movie.rating}}</span></div>
                      

                      <a href="#" class="movie__show-btn">Showtime</a>
                  </div>
          </div>

          <div class="clearfix"></div>
          
          <!-- Time table (choose film start time)-->
          <div class="time-select">
              <div class="time-select__group group--first">
                  <div class="col-sm-4">
                      <p class="time-select__place">Cineworld</p>
                  </div>
                  <ul class="col-sm-8 items-wrap">
                      <li class="time-select__item" data-time='09:40'>09:40</li>
                      <li class="time-select__item" data-time='13:45'>13:45</li>
                      <li class="time-select__item active" data-time='15:45'>15:45</li>
                      <li class="time-select__item" data-time='19:50'>19:50</li>
                      <li class="time-select__item" data-time='21:50'>21:50</li>
                  </ul>
              </div>

              <div class="time-select__group">
                  <div class="col-sm-4">
                      <p class="time-select__place">Empire</p>
                  </div>
                  <ul class="col-sm-8 items-wrap">
                      <li class="time-select__item" data-time='10:45'>10:45</li>
                      <li class="time-select__item" data-time='16:00'>16:00</li>
                      <li class="time-select__item" data-time='19:00'>19:00</li>
                      <li class="time-select__item" data-time='21:15'>21:15</li>
                      <li class="time-select__item" data-time='23:00'>23:00</li>
                  </ul>
              </div>

              <div class="time-select__group">
                  <div class="col-sm-4">
                      <p class="time-select__place">Curzon</p>
                  </div>
                  <ul class="col-sm-8 items-wrap">
                      <li class="time-select__item" data-time='09:00'>09:00</li>
                      <li class="time-select__item" data-time='11:00'>11:00</li>
                      <li class="time-select__item" data-time='13:00'>13:00</li>
                      <li class="time-select__item" data-time='15:00'>15:00</li>
                      <li class="time-select__item" data-time='17:00'>17:00</li>
                      <li class="time-select__item" data-time='19:0'>19:00</li>
                      <li class="time-select__item" data-time='21:0'>21:00</li>
                      <li class="time-select__item" data-time='23:0'>23:00</li>
                      <li class="time-select__item" data-time='01:0'>01:00</li>
                  </ul>
              </div>

              <div class="time-select__group">
                  <div class="col-sm-4">
                      <p class="time-select__place">Odeon</p>
                  </div>
                  <ul class="col-sm-8 items-wrap">
                      <li class="time-select__item" data-time='10:45'>10:45</li>
                      <li class="time-select__item" data-time='16:00'>16:00</li>
                      <li class="time-select__item" data-time='19:00'>19:00</li>
                      <li class="time-select__item" data-time='21:15'>21:15</li>
                      <li class="time-select__item" data-time='23:00'>23:00</li>
                  </ul>
              </div>

              <div class="time-select__group group--last">
                  <div class="col-sm-4">
                      <p class="time-select__place">Picturehouse</p>
                  </div>
                  <ul class="col-sm-8 items-wrap">
                      <li class="time-select__item" data-time='17:45'>17:45</li>
                      <li class="time-select__item" data-time='21:30'>21:30</li>
                      <li class="time-select__item" data-time='02:20'>02:20</li>
                  </ul>
              </div>
          </div>
          <!-- end time table-->

      </div>
      <!-- end movie preview item -->

    
      <div class="coloum-wrapper">
          <div class="pagination paginatioon--full">
                  <a href='#' class="pagination__prev">prev</a>
                  <a href='#' class="pagination__next">next</a>
          </div>
      </div>

  </div>

</section>