<!-- Search bar -->
<div class="search-wrapper">
    <div class="container container--add">
        <form #f="ngForm" id='search-form' method='get' class="search">
            <input #search  type="text" class="search__field" placeholder="Search" >          
           
          
          <button (click) = "onSearch(search.value)"  class="btn btn-md btn--danger search__button">search cinema</button>
  
            
        </form>
    </div>
  </div>
  
  <!-- Main content -->
  <section class="container">
    <div class="col-sm-12">
        <h2 class="page-heading">cinemas</h2>
               
        <div class="tags-area tags-area--thin">
                    <i class="fa fa-compass"><a class="page-heading3"> City</a></i>
                    <mat-form-field>
                        
                    <mat-select [(ngModel)]="searchValue" [(value)]="searchValue" (ngModelChange)="filter()" >
                            <mat-option value="All" selected="selected">All</mat-option>
                      <mat-option *ngFor="let location of locations" value ={{location}} >{{location}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  
               
           
        </div>
       
        <p><br/>
        <!-- Cinema preview item -->
        <div *ngFor="let cinema of cinemas">
              <div class="col-xs-6 col-sm-3 cinema-item name">
                      <div (click)=" AddCinemaToCookie(cinema)" class="cinema">
                          <a class="cinema__images">
                              <img alt="" src="{{cinema.imagePath}}">
                          </a>
                          <a class="cinema-title">{{cinema.name}}</a>
                      </div>
              </div>
        </div>

  
    </div>
    
    <div class="pagination paginatioon--full">
            <a href='#' class="pagination__prev">prev</a>
            <a href='#' class="pagination__next">next</a>
    </div>
  </section>