<input type="cinemaName" class="form-control mb-3" placeholder="Type to filter the name column..." required (keyup)='updateFilter($event)'>
<ngx-datatable
  #mydatatable
  [headerHeight]="40"
  [limit]="10"
  [columnMode]="'force'"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [rows]="rows">
  <ngx-datatable-column name="Cinema Name">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      {{value}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Username">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span
        title="Double Click To Delete This Record"
        (dblclick)="deleteRow($event, 'username', value, row)"
        >
        {{value}}
      </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Email">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <span
        title="Double Click To Edit"
        (dblclick)="editing[row.$$index + '-email'] = true"
        *ngIf="!editing[row.$$index + '-email']">
        {{value}}
      </span>
      <input
        autofocus
        (blur)="updateValue($event, 'email', value, row)"
        *ngIf="editing[row.$$index + '-email']"
        type="text"
        [value]="value"
      />
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Type">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
       <span
        title="Double Click To Edit"
        (dblclick)="editing[row.$$index + '-type'] = true"
        *ngIf="!editing[row.$$index + '-type']">
        {{value}}
      </span>
      <select
        *ngIf="editing[row.$$index + '-type']"
        (change)="updateValue($event, 'type', value, row)"
        [value]="value">
        <option value="Booking Usher">Boooking Usher</option>
        <option value="Admin User">Admin User</option>
        <option value="Cinema Owner">Cinema Owner</option>
        <option value="Branch Manager">Branch Manager</option>
        <option value="App Owner">App Owner</option>
      </select>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Salary">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <span
        title="Double Click To Edit"
        (dblclick)="editing[row.$$index + '-salary'] = true"
        *ngIf="!editing[row.$$index + '-salary']">
        {{value}}
      </span>
      <input
        autofocus
        (blur)="updateValue($event, 'salary', value, row)"
        *ngIf="editing[row.$$index + '-salary']"
        type="text"
        [value]="value"
      />
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="First Name">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      {{value}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Last Name">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      {{value}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Phone Number">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <span
        title="Double Click To Edit"
        (dblclick)="editing[row.$$index + '-phoneNumber'] = true"
        *ngIf="!editing[row.$$index + '-phoneNumber']">
        {{value}}
      </span>
      <input
        autofocus
        (blur)="updateValue($event, 'phoneNumber', value, row)"
        *ngIf="editing[row.$$index + '-phoneNumber']"
        type="text"
        [value]="value"
      />
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Gender">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      {{value}}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>