
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

<div *ngIf="alert.active">
  <ngb-alert [type]="alert.type" (close)="closeAlert()">{{alert.message}}</ngb-alert>
</div>

<div class="form-group card">
  <input class="form-control input" type="text" name="search" placeholder="search" [(ngModel)] = "term">
</div>

<div class="card">
  <div class="card-header">
    Cinema Owners
    <button type="button" class="btn btn-success mr-1 ml-auto" (click) = "addCinemaOwner()">Add Cinema Owner</button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              Cinema Name
            </th>
            <th>
              Username
            </th>
            <th>
              Email
            </th>
            <th>
              Type
            </th>
            <th>
              Salary
            </th>
            <th>
              First Name
            </th>
            <th>
              Last Name
            </th>
            <th>
              Phone number
            </th>
            <th>
              Gender
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of rows |filter:term">
            <td>
              {{row.cinema_name}}
            </td>
            <td>
              {{row.username}}
            </td>
            <td>
             {{row.email}}
            </td>
            <td>
              {{row.type}}
            </td>
            <td>
              {{row.salary}}
            </td>
            <td>
              {{row.first_name}}
            </td>
            <td>
              {{row.last_name}}
            </td>
            <td>
              {{row.phone_number}}
            </td>
            <td>
              {{row.gender}}
            </td>
            <td>
              <div id="actions">
                <a (click)="updateValue(row)">
                  <i class="fas fa-edit"></i>
                </a>
                <a (click)="deleteRow(row)">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
