<!-- Search bar -->
<div class="search-wrapper">
  <div class="container container--add">
    <form id='search-form' method='get' class="search">
      <input [(ngModel)]="searchValue" name="searchValue"  type="text" class="search__field" placeholder="Search" >          
     
    
    <button (click)="filterBy(sorting_item,searchValue)"  class="btn btn-md btn--danger search__button">search cinema</button>

      
  </form>
  </div>
</div>

<!-- Main content -->
<section class="cinema-container">
  <div class="cinema cinema--full">
    <p class="cinema__title">{{cinema.name}}</p>
    <div class="cinema__rating">5.0</div>
    <div class="cinema__gallery">
      <div class="swiper-container">
      
          <!--First Slide-->
            <img alt='' src="{{cinema.imagePath2}}">
      </div>
    </div>
    <div class="cinema__info">
      <p class="cinema__info-item">
        <strong>Address:</strong> {{cinema.address}}</p>
      <p class="cinema__info-item">
        <strong>Phone:</strong> 0871 224 0240</p>
      <p class="cinema__info-item">
        <strong>Official website:</strong>
        <a href="#">www.myvue.com</a>
      </p>
    </div>
  </div>

  <div class="share share--centered">
    <div class="addthis_toolbox addthis_default_style ">
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
      <a class="addthis_button_tweet"></a>
      <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
    </div>
  </div>

  <div class="tabs tabs--horisontal">
    <!-- Nav tabs -->
    <div class="container">
      <ul class="nav nav-tabs" id="hTab">
        <li>
          <a href="#movie1" data-toggle="tab" id="moviesTab" >Movies</a>
        </li>     
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane" id="movie1">
        <div class="container">
          <div class="movie-time-wrap">

           

            <div class="clearfix"></div>
            <div *ngFor="let movie of moviesInCinema">
            <div class="col-sm-6">

              <!-- Movie variant with time -->
             
              <div class="movie movie--time">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="movie__images">
                      <span class="movie__rating">{{movie.rating}}</span>
                      <img alt='' src= {{movie.imagePath}}>
                    </div>
                  </div>
                  

                  <div class="col-sm-6 col-md-7">
                    <a href='movie-page-left.html' class="movie__title">{{movie.title}}</a>

                    <p class="movie__time">{{movie.duration}}</p>

                    <p class="movie__option">
                      <a href="#">{{movie.genre}}</a>
                   
                    </p>
                  </div>
                  

                </div>
              </div>

              <!-- Movie variant with time -->
            </div>
          </div>>

          </div>
        </div>
      </div>
   
    </div>
  </div>

</section>