<!-- Main content -->
<form  id="login-form" class="login" method='get' novalidate=''>
    <div *ngIf="forgotmypassword">
        <div  class="field-wrap">
        <input *ngIf="!message2" [(ngModel)]="user.username" type='username' placeholder='Username' name='user-name' class="login__input">
            <div (click)="onForgotmypassword()">
                <button *ngIf="!message2"type='submit' class="btn btn-md btn--warning btn--wider">Send Me New Password</button>
                <h6 style="color:red; margin-top: 20px" >{{message}}</h6>
                <h6 style="color:green; margin-top: 20px" >{{message2}}</h6>
                <button *ngIf="message2" (click)="ngOnInit()" class="btn btn-md btn--warning btn--wider">Log In Now</button>
            </div>
        </div>
    </div >
    <div *ngIf="!forgotmypassword">
    <p  *ngIf="!loogedin" class="login__title">sign in
        <br>
        <span class="login-edition">Welcome to A`Movie</span>
    </p>

    <!-- <div *ngIf="!loogedin"  class="social social--colored">
        <a href='#' class="social__variant fa fa-facebook"></a>
        <a href='#' class="social__variant fa fa-twitter"></a>
        <a href='#' class="social__variant fa fa-tumblr"></a>
    </div> -->
    <p *ngIf="loogedin" class="login__title">Logged in successfully :D
        <META HTTP-EQUIV="refresh" CONTENT="5;URL=/">

    </p>
    <!-- <p *ngIf="!loogedin" class="login__tracker">or</p> -->
         
    <div *ngIf="!loogedin" class="field-wrap">
        <input [(ngModel)]="user.username" type='username' placeholder='Username' name='user-name' class="login__input">
        <input [(ngModel)]="user.password" type='password' placeholder='Password' name='user-password' class="login__input">

        <h6 style="color:red; margin-top: 20px" >{{message}}</h6>
        <input  type='checkbox' name="password" class='login__check styled'>
        <label for='#informed' class='login__check-info'>remember me</label>
    </div>

    <div *ngIf="!loogedin" class="login__control">
        <div (click)="onLogin()">
            <button type='submit' class="btn btn-md btn--warning btn--wider">sign in</button>

        </div>
        <a   (click)="onForgotAction()" class="login__tracker form__tracker">Forgot password?</a>
    </div>
</div>
</form>

       
      