<div class="search-wrapper">
  <div class="container container--add">
      <form id='search-form' method='get' class="search">
          <input type="text" class="search__field" placeholder="Search">
          <button type='submit' class="btn btn-md btn--danger search__button">search a movie</button>
      </form>
  </div>
</div>

<!-- Main content -->
<section class="container">
  <div class="col-sm-12">
      <h2 class="page-heading">Movie info</h2>
      
      
      <!-- Movie preview item -->
      <div *ngIf="movie" class="movie movie--preview movie--full release">
           <div class="col-sm-3 col-md-2 col-lg-2">
                  <div class="movie__images">
                      <img alt='' src={{movie.imagePath}}>
                  </div>
                
          </div>

          <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
                  <a class="movie__title link--huge">{{movie.title}}</a>

                  <p class="movie__time">{{movie.duration}} hrs</p>

               
                  <p class="movie__option"><strong>Category: </strong><a href="#">{{movie.genre}}</a></p>
                  <p class="movie__option"><strong>Release date: </strong>{{movie.year}}</p>
                  <p class="movie__option"><strong>Description: </strong>{{movie.description}}</p>
                  <p class="movie__option"><strong>Cast: </strong>{{movie.cast}}</p>
                  <div class="movie__btns">
                      <a href="booking/cinemas" (click) = "putMovieInCookie()" class="btn btn-md btn--warning">book a ticket <span class="hidden-sm">for this movie</span></a>
                      <a href="#" class="watchlist">Add to watchlist</a>
                  </div>

                  <div class="preview-footer">
                      <div class="movie__rate"><p class="movie__rate-number"><strong> Rating</strong></p> <span class="movie__rating">{{movie.rating}}</span></div>
                      

                      <a href="#" class="movie__show-btn">Showtime</a>
                  </div>
          </div>

          <div class="clearfix"></div>
     
          <h2 class="page-heading">showtime &amp; tickets</h2>

          <div class="choose-container">
                <div class="tags-area tags-area--thin">

                <i class="fa fa-compass"><a class="page-heading3"> City</a></i>
                <mat-form-field >
                    
                <mat-select [(ngModel)]="searchValue" [(value)]="searchValue" (ngModelChange)="filter()" >
                      <mat-option value="1" selected='selected'>London</mat-option>
                      <mat-option value="2">New York</mat-option>
                      <mat-option value="3">Paris</mat-option>
                      <mat-option value="4">Berlin</mat-option>
                      <mat-option value="5">Moscow</mat-option>
                      <mat-option value="3">Minsk</mat-option>
                      <mat-option value="4">Warsawa</mat-option>
                      <mat-option value="5">Kiev</mat-option>
                </mat-select>
              </mat-form-field>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa fa-calendar"><a class="page-heading3"> Date</a></i>
      
              <mat-form-field>
                      <input [(ngModel)]="dateTemp" matInput [matDatepicker]="picker" placeholder="Choose a date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>


                    <a class="btn btn-md btn--warning" (click)="getPartiesAtThisDate(date)" style="float: right;margin-top:8px;">Show Parties for this date and time</a>

              
              <div class="clearfix"></div>
</div>
      

          </div>

      </div>
      <div class="time-select">
            <div class="time-select__group group--first">
                <div class="col-sm-4">
                    <p class="time-select__place">Cineworld</p>
                </div>
                <ul class="col-sm-8 items-wrap">
                    <li class="time-select__item" data-time='09:40'>09:40</li>
                    <li class="time-select__item" data-time='13:45'>13:45</li>
                    <li class="time-select__item active" data-time='15:45'>15:45</li>
                    <li class="time-select__item" data-time='19:50'>19:50</li>
                    <li class="time-select__item" data-time='21:50'>21:50</li>
                </ul>
            </div>

            <div class="time-select__group">
                <div class="col-sm-4">
                    <p class="time-select__place">Empire</p>
                </div>
                <ul class="col-sm-8 items-wrap">
                    <li class="time-select__item" data-time='10:45'>10:45</li>
                    <li class="time-select__item" data-time='16:00'>16:00</li>
                    <li class="time-select__item" data-time='19:00'>19:00</li>
                    <li class="time-select__item" data-time='21:15'>21:15</li>
                    <li class="time-select__item" data-time='23:00'>23:00</li>
                </ul>
            </div>

            <div class="time-select__group">
                <div class="col-sm-4">
                    <p class="time-select__place">Curzon</p>
                </div>
                <ul class="col-sm-8 items-wrap">
                    <li class="time-select__item" data-time='09:00'>09:00</li>
                    <li class="time-select__item" data-time='11:00'>11:00</li>
                    <li class="time-select__item" data-time='13:00'>13:00</li>
                    <li class="time-select__item" data-time='15:00'>15:00</li>
                    <li class="time-select__item" data-time='17:00'>17:00</li>
                    <li class="time-select__item" data-time='19:0'>19:00</li>
                    <li class="time-select__item" data-time='21:0'>21:00</li>
                    <li class="time-select__item" data-time='23:0'>23:00</li>
                    <li class="time-select__item" data-time='01:0'>01:00</li>
                </ul>
            </div>

            <div class="time-select__group">
                <div class="col-sm-4">
                    <p class="time-select__place">Odeon</p>
                </div>
                <ul class="col-sm-8 items-wrap">
                    <li class="time-select__item" data-time='10:45'>10:45</li>
                    <li class="time-select__item" data-time='16:00'>16:00</li>
                    <li class="time-select__item" data-time='19:00'>19:00</li>
                    <li class="time-select__item" data-time='21:15'>21:15</li>
                    <li class="time-select__item" data-time='23:00'>23:00</li>
                </ul>
            </div>

            <div class="time-select__group group--last">
                <div class="col-sm-4">
                    <p class="time-select__place">Picturehouse</p>
                </div>
                <ul class="col-sm-8 items-wrap">
                    <li class="time-select__item" data-time='17:45'>17:45</li>
                    <li class="time-select__item" data-time='21:30'>21:30</li>
                    <li class="time-select__item" data-time='02:20'>02:20</li>
                </ul>
            </div>
        </div>
        
        <!-- hiden maps with multiple locator-->
        <div  class="map">
            <div id='cimenas-map'></div> 
        </div>
      <!-- end movie preview item -->

    


  </div>

</section>