
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

<div *ngIf="alert.active">
  <ngb-alert [type]="alert.type" (close)="closeAlert()">{{alert.message}}</ngb-alert>
</div>

<div class="form-group card">
  <input class="form-control input" type="text" name="search" placeholder="search" [(ngModel)] = "term">
</div>

<div class="card">
  <div class="card-header">
    Cinemas
    <button type="button" (click) = "AddCinema()" class="btn btn-success mr-1 ml-auto">Add Cinema</button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>name</th>
            <th>location</th>
            <th>Address</th>
            <th>number of halls</th>
            <th>is3D</th>
            <th>is4D</th>
            <th>company</th>
            <th>image</th>
            <th>image 2</th>
            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let cinema of cinemas |filter:term">
            <td>
              {{cinema.name}}
            </td>
            <td>{{cinema.location}}</td>
            <td>{{cinema.address}}</td>
            <td>{{cinema.number_of_halls}}</td>
            <td>{{cinema.is3D}}</td>
            <td>{{cinema.is4D}}</td>
            <td>{{cinema.company}}</td>
            <td><img src={{cinema.imagePath}} alt="Card image cap" class="img-responsive smaller" (click) = "openImage1(cinema)" /></td>
            <td><img src={{cinema.imagePath2}} alt="Card image cap" class="img-responsive smaller" (click) = "openImage2(cinema)" /></td>
            <td>
              <div id="actions">
                <a (click)="onupdate(cinema)">
                  <i class="fas fa-edit"></i>
                </a>
                <a (click)="ondelete(cinema)">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
