<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<h1 id='user_info_title' class="page-heading">Edit Profile</h1>

<hr />
<div id="user_info" class="" align="center">
<form name = "edit">
    <i class="material-icons">account_box</i>
    <br />
    <label> Email </label><br />
    <input #email type="email"name = "email" ng-model="inputText" placeholder="{{user.email}}" />
    <hr id='line'/>
    <label> First Name </label><br />
    <input #first type="text" ng-model="inputText" placeholder="{{user.first_name}}" />
    <hr id='line'/>
    <label> Last Name </label><br />
    <input #last type="text" ng-model="inputText" placeholder="{{user.last_name}}" />
    <hr id='line'/>
    <label> Phone number </label><br />
    <input #phone type="text" ng-model="inputText" placeholder="{{user.phone_number}}" />
    <hr id='line'/>
    <label> Age </label><br />
    <input #age type="text" ng-model="inputText" placeholder="{{user.age}}" />
    <hr id='line'/>
    <button class="btn btn-outline-success mr-1 mb-1" type="button" (click)="onEdit(email.value,first.value,last.value,phone.value,age.value)"> Submit</button>
</form>
</div>
