
<div class="form-group card">
  <input class="form-control input" type="text" name="search" placeholder="search" [(ngModel)] = "term">
</div>

<div>
  <button type="button" class="btn btn-outline-success mr-1 mb-1" (click)="toogleMovie()" *ngIf="!moviesAction">Add Movie</button>
  <button type="button" class="btn btn-outline-danger mr-1 mb-1" (click)="toogleMovie()" *ngIf="moviesAction">Cancel</button>
</div>


<div class="card-body" *ngIf="moviesAction">

  <div class="card">
    <div class="card-header">
      Add new Movie
    </div>
    <div class="card-body">

      <div _ngcontent-c37="" class="form-group row">
        <label _ngcontent-c37="" class="col-1 col-form-label">
          <b>Title</b>
        </label>
        <div _ngcontent-c37="" class="col-11">
          <input #title id="input1" type="text" class="form-control mb-3" placeholder="Title">
        </div>
      </div>

      <div _ngcontent-c37="" class="form-group row">
        <label _ngcontent-c37="" class="col-1 col-form-label">
          <b>Duration</b>
        </label>
        <div _ngcontent-c37="" class="col-11">
          <input #duration id="input1" type="text" class="form-control mb-3" placeholder="Duration">
        </div>
      </div>

      <div _ngcontent-c37="" class="form-group row">
        <label _ngcontent-c37="" class="col-1 col-form-label">
          <b>Genre</b>
        </label>
        <div _ngcontent-c37="" class="col-11">
          <select #genre class="form-control input" required>
            <option value="2" disabled>Select a Type</option>
            <option selected value="Biography">Biography</option>
            <option value="Thriller">Thriller</option>
            <option value="Drama">Drama</option>
            <option value="Adventure">Adventure</option>
            <option value="Horror">Horror</option>
            <option value="Action">Action</option>
            <option value="Comedy">Comedy</option>
          </select>
        </div>
      </div>

      <div _ngcontent-c37="" class="form-group row">
        <label _ngcontent-c37="" class="col-1 col-form-label">
          <b>Description</b>
        </label>
        <div _ngcontent-c37="" class="col-11">
          <input #description id="input1" type="text" class="form-control mb-3" placeholder="Description">
        </div>
      </div>

      <div _ngcontent-c37="" class="form-group row">
        <label _ngcontent-c37="" class="col-1 col-form-label">
          <b>Image Path</b>
        </label>
        <div _ngcontent-c37="" class="col-11">
          <input #imagePath id="input1" type="text" class="form-control mb-3" placeholder="Image Path">
        </div>
      </div>

      <div _ngcontent-c37="" class="form-group row">
        <label _ngcontent-c37="" class="col-1 col-form-label">
          <b>Cast</b>
        </label>
        <div _ngcontent-c37="" class="col-11">
          <input #cast id="input1" type="text" class="form-control mb-3" placeholder="Cast">
        </div>
      </div>

      <div _ngcontent-c37="" class="form-group row">
        <label _ngcontent-c37="" class="col-1 col-form-label">
          <b>Feature</b>
        </label>
        <div _ngcontent-c37="" class="col-11">
          <select #feature class="form-control input" required>
            <option value="4" disabled>Select a Type</option>
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </div>

      <div _ngcontent-c37="" class="form-group row">
        <label _ngcontent-c37="" class="col-1 col-form-label">
          <b>Release Date</b>
        </label>
        <div _ngcontent-c37="" class="col-11">
          <input #releasedate id="input1" id="example-date-input" type="date" class="form-control mb-3" placeholder="Release Date">
        </div>
      </div>

      <button class="btn btn-outline-success mr-1 mb-1" type="button" (click)="addMovie(title.value,duration.value,genre.value,description.value,imagePath.value,cast.value,feature.value,releasedate.value,username)"
        href="movies/view-movies"> Submit</button>
    </div>
  </div>

</div>


<div class="row">

  <div class="media-grid col-lg-2 col-sm-6" *ngFor="let movie of movies |filter:term">
    <div [routerLink]='' (click)=getMovieInfo(movie)>
      <figure>
        <img src={{movie.imagePath}} alt="Card image cap" class="img-fluid" />
        <figcaption>
          <h5 class="media-title fw-300">{{movie.title}} </h5>
          <p>
            <a href="movies/view-movies" placement="left" ngbTooltip="Delete">
              <i class="icon icon-basic-trashcan" (click)="deleteMovie(movie.movie_id)"></i>
            </a>
          </p>
        </figcaption>
      </figure>
    </div>
  </div>
  {{responseStatus}}
</div>