
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

<div *ngIf="alert.active">
  <ngb-alert [type]="alert.type" (close)="closeAlert()">{{alert.message}}</ngb-alert>
</div>

<div class="form-group card">
  <input class="form-control input" type="text" name="search" placeholder="search" [(ngModel)] = "term">
</div>

<div class="card">
  <div class="card-header">
    Branch Managers
    <div class="col-3">
      <select class="form-control input" [(ngModel)]="cinemaChoosen" required>
        <option value="0" disabled>Select a Cinema</option>
        <option value="all" selected>ALL</option>
        <option *ngFor="let cinema of cinemas" [ngValue]="cinema">{{cinema.name}},{{cinema.location}}</option>
      </select>
    </div>
    <button type="button" class="btn btn-success mr-1 ml-auto" (click) = "addBranchManager()">Add Branch Manager</button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              Cinema Name
            </th>
            <th>
              Cinema Location
            </th>
            <th>
              Username
            </th>
            <th>
              Email
            </th>
            <th>
              Type
            </th>
            <th>
              Salary
            </th>
            <th>
              First Name
            </th>
            <th>
              Last Name
            </th>
            <th>
              Phone number
            </th>
            <th>
              Gender
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody *ngIf = "cinemaChoosen != 'all'">
            <tr *ngFor="let row of rows |filter:term" >
              <td *ngIf = "row.cinema_name == cinemaChoosen.name && row.cinema_location == cinemaChoosen.location">
                {{row.cinema_name}}
              </td>
              <td *ngIf = "row.cinema_name == cinemaChoosen.name && row.cinema_location == cinemaChoosen.location">
                {{row.cinema_location}}
              </td>
              <td *ngIf = "row.cinema_name == cinemaChoosen.name && row.cinema_location == cinemaChoosen.location">
                {{row.username}}
              </td>
              <td *ngIf = "row.cinema_name == cinemaChoosen.name && row.cinema_location == cinemaChoosen.location">
              {{row.email}}
              </td>
              <td *ngIf = "row.cinema_name == cinemaChoosen.name && row.cinema_location == cinemaChoosen.location">
                {{row.type}}
              </td>
              <td *ngIf = "row.cinema_name == cinemaChoosen.name && row.cinema_location == cinemaChoosen.location">
                {{row.salary}}
              </td>
              <td *ngIf = "row.cinema_name == cinemaChoosen.name && row.cinema_location == cinemaChoosen.location">
                {{row.first_name}}
              </td>
              <td *ngIf = "row.cinema_name == cinemaChoosen.name && row.cinema_location == cinemaChoosen.location">
                {{row.last_name}}
              </td>
              <td *ngIf = "row.cinema_name == cinemaChoosen.name && row.cinema_location == cinemaChoosen.location">
                {{row.phone_number}}
              </td>
              <td *ngIf = "row.cinema_name == cinemaChoosen.name && row.cinema_location == cinemaChoosen.location">
                {{row.gender}}
              </td>
              <td *ngIf = "row.cinema_name == cinemaChoosen.name && row.cinema_location == cinemaChoosen.location">
                <div id="actions">
                  <a (click)="updateValue(row)">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a (click)="deleteRow(row)">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </div>
              </td>
            </tr>
        </tbody>


        <tbody *ngIf = "cinemaChoosen == 'all'">
          <tr *ngFor="let row of rows |filter:term">
            <td>
              {{row.cinema_name}}
            </td>
            <td>
              {{row.cinema_location}}
            </td>
            <td>
              {{row.username}}
            </td>
            <td>
              {{row.email}}
            </td>
            <td>
              {{row.type}}
            </td>
            <td>
              {{row.salary}}
            </td>
            <td>
              {{row.first_name}}
            </td>
            <td>
              {{row.last_name}}
            </td>
            <td>
              {{row.phone_number}}
            </td>
            <td>
              {{row.gender}}
            </td>
            <td>
              <div id="actions">
                <a (click)="updateValue(row)">
                  <i class="fas fa-edit"></i>
                </a>
                <a (click)="deleteRow(row)">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
