<div class="card">
  <div class="card-header">
    Halls
  </div>
  <div class="card-body">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Cinemas</button>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <div *ngFor ="let cinema of cinemas">
          <button class="dropdown-item" (click)="setCinema(cinema)">{{cinema.name}} {{cinema.location}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>
              Cinema Name
            </th>
            <th>
              Cinema Location
            </th>
            <th>
              Hall Number
            </th>
            <th>
              Movie
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hall of halls">
            <td>
              <span>
              </span>
              {{hall.cinema_name}}
            </td>
            <td>
              {{hall.cinema_location}}
            </td>
            <td>
              {{hall.hall_number}}
            </td>
            <td class="align-middle">
              {{hall.movie_id}}
            </td>
          </tr>
        
        </tbody>
      </table>
    </div>
  </div>
</div>

 