@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.hebe.tparrows.tp-rightarrow::before {
	content: "\E825";
	font-size: 0;
}

.hebe.tparrows.tp-leftarrow::before {
	content: "\E825";
	font-size: 0;
}

#control {
	box-shadow: none;
}