<!-- Main content -->
<section class="container">
  <h2 class="page-heading">about us</h2>
  <div class="tags-area tags-area--thin">
      
      <p class="main_title">Our Company</p>
      
    <p class="content" ><i class="fa fa-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;A-Movie Cinemas, the largest and most innovative cinema exhibitor in the region.
    </p>
    <p class="content" ><i class="fa fa-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;A-MOVIE Cinemas has truly set itself apart from other exhibitors.     </p>

    <p class="content"><i class="fa fa-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;From big screen cinemas, fully immersive experiences, gourmet menus designed by Michelin-starred chef Gary Rhodes, dedicated
      fun playrooms for children and <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;stunning rooftop views, A-MOVIE goes far beyond the confines of cinema theatres to create
      great moments for everyone everyday.</p>
      <p class="content"><i class="fa fa-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Keeping customers at the heart of its operations, A-MOVIE is synonymous with innovative concepts, cutting-edge picture
      and sound technology, as well as strong <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;exclusive partnerships.</p>
      <br>
      <p class="main_title">Our Vision<br><p class="strong">
          Great Moments for Everyone, Everyday
        </p></p>
        <p class="content"><i class="fa fa-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;the way we differentiate our cinemas is crucial to meeting our guests' expectations. We tailor every cinema location
      to the surrounding market place and to our guests<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;preferences by offering a mix of different cinema concepts ? from
      the adrenalin-inducing multisensory 4DX to our gourmet luxury concepts.</p>
      <p class="content"><i class="fa fa-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;As well as being the region's largest cinema exhibitor, it is also the most innovative. A-MOVIES features high-resolution
      digital projection systems, immersive digital 3D<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;content, expansive VOX MAX screens, Dolby Atmos and 7.1 multidimensional
      surround sound systems as well as premium experiences such as IMAX with Laser,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;THEATRE by Rhodes, GOLD by Rhodes, 4DX
      and KIDS, designed especially for our little movie fans.</p>

     
  </div>


</section>