<section class="component">
  <h1>ABOUT US</h1>




<h3>Our Company</h3>



<p>A-Movie Cinemas, the largest and most innovative cinema exhibitor in the region </p>




<p>A-MOVIE Cinemas has truly set itself apart from other exhibitors.</p>



<p>From big screen cinemas, fully immersive experiences, gourmet menus designed by Michelin-starred chef Gary Rhodes, dedicated fun playrooms for children and stunning rooftop views, A-MOVIE  goes far beyond the confines of cinema theatres to create great moments for everyone everyday.</p>



<p>Keeping customers at the heart of its operations, A-MOVIE is synonymous with innovative concepts, cutting-edge picture and sound technology, as well as strong exclusive partnerships.</p>



<h3>Our Vision</h3>



<p><strong>Great Moments for Everyone, Everyday</strong></p>




<p> the way we differentiate our cinemas is crucial to meeting our guests' expectations. We tailor every cinema location to the surrounding market place and to our guest?s preferences by offering a mix of different cinema concepts ? from the adrenalin-inducing multisensory 4DX to our gourmet luxury concepts.</p>



<p>As well as being the region's largest cinema exhibitor, it is also the most innovative. A-MOVIES features high-resolution digital projection systems, immersive digital 3D content, expansive VOX MAX screens, Dolby Atmos and 7.1 multidimensional surround sound systems as well as premium experiences such as IMAX with Laser, THEATRE by Rhodes, GOLD by Rhodes, 4DX and KIDS, designed especially for our little movie fans.</p>
</section>