<input type="number" class="form-control form-control-lg mb-3" placeholder="Type Reservation-ID" required (keyup)='getTicket($event)'>
<div class="ticket-view">
  <div class="ticket">
      <div class="ticket-position">

        <div class="ticket__indecator indecator--pre">
          <div class="indecator-text pre--text">CORRESPONDING TICKET</div>
        </div>

        <div class="ticket__inner">
          <div class="ticket-secondary">
          <span class="ticket__item">Reservation ID:
            <strong class="ticket__number" >{{(ticketIsLoaded) ? ticketView.reservation_id : "N/A"}}</strong>
          </span>
            <span class="ticket__item ticket__date">{{(ticketIsLoaded) ? ticketView.time : "N/A"}}</span>

            <span class="ticket__item">Cinema:
            <span class="ticket__cinema">{{(ticketIsLoaded) ? ticketView.cinema_name : "N/A"}}</span>
          </span>
            <span class="ticket__item">Hall:
            <span class="ticket__hall">{{(ticketIsLoaded) ? ticketView.hall : "N/A"}}</span>
          </span>
            <span class="ticket__item ticket__price">price:
            <strong class="ticket__cost">{{(ticketIsLoaded) ? ticketView.price : "N/A"}}</strong>
          </span>
          </div>

          <div class="ticket-primery">
          <span class="ticket__item ticket__item--primery ticket__film">Movie
            <br>
            <strong class="ticket__movie">{{(ticketIsLoaded) ? ticketView.title : "N/A"}}</strong>
          </span>
            <span class="ticket__item ticket__item--primery">Seat:
            <span class="ticket__place">{{(ticketIsLoaded) ? ticketView.seat_number : "N/A"}}</span>
          </span>
            <span class="ticket_item">Package:
            <span class="ticket_item">{{(ticketIsLoaded) ? ticketView.comment: "N/A"}}</span>
          </span>

          </div>
        </div>

        <div class="ticket__indecator indecator--post">
          <div class="indecator-text post--text">ONLINE TICKET</div>
        </div>

      </div>
  </div>
</div>



