<div class="card">
  <div class="card-header">
    Choose a cinema:
  </div>
  <div class="card-body">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>
        <div *ngIf="selectedCinema != null">
            {{selectedCinema.cinema_name}}   {{selectedCinema.cinema_location}}
        </div>
      </button>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <div *ngFor ="let cinema of cinemas">
          <button class="dropdown-item" (click)="selectedCinema = cinema; getHalls()">{{cinema.cinema_name}} {{cinema.cinema_location}}</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="media-grid col-lg-3 col-sm-6" *ngFor="let hall of halls">
    <figure>
      <img src="{{hall.imagePath}}" alt="Card image cap" class="img-fluid" />
      <figcaption>
        <h5 class="media-title fw-300">Hall <strong>{{hall.hall_number}}</strong></h5>
        <p>
          <a href="javascript:;" placement="left" ngbTooltip="Download"><i class="icon icon-basic-server-download"></i></a>
          <a href="javascript:;" placement="left" ngbTooltip="Like"><i class="icon icon-basic-heart"></i></a>
          <a href="javascript:;" placement="left" ngbTooltip="Share"><i class="icon icon-basic-share"></i></a>
          <a href="javascript:;" placement="left" ngbTooltip="Bookmark"><i class="icon icon-basic-bookmark"></i></a>
        </p>
      </figcaption>     
    </figure>
    <strong></strong>
    <h5 class="media-title fw-300"> <strong>{{hall.title}}</strong></h5>
  </div>
</div>