<div>
  <h1>
    EDIT REQUESTS
  </h1>
</div>

<div class="row">
    <div class="col-lg-4">
      <div _ngcontent-c22="" class="card">
        <img _ngcontent-c22="" alt="Card image cap" class="card-img-top img-fluid" src="{{movie.imagePath}}">
        <div _ngcontent-c22="" class="card-body">
          <h5 _ngcontent-c22="" class="card-title">
            <h4 class="ma-0">
              <span class="fw-400"></span>
              <b>{{movie.title}}</b>
            </h4>
  
          </h5>
          <p _ngcontent-c22="" class="card-text">
            <a class="mt-1 d-block">
              <b>Description:</b> {{movie.description}} </a>
            <a class="mt-1 d-block">
              <b>Cast:</b> {{movie.cast}} </a>
            <a class="mt-1 d-block">
              <b>Category:</b> {{movie.genre}} </a>
            <a class="mt-1 d-block">
              <b>Duration:</b> {{movie.duration}} hours</a>
            <a class="mt-1 d-block">
              <b>Release Date:</b> {{movie.release_date}} </a>
  
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div>
        <button type="button" class="btn btn-outline-primary mr-1 mb-1" (click)="toogleEdit()" *ngIf="!movieEdit">Edit</button>
        <button type="button" class="btn btn-outline-danger mr-1 mb-1" (click)="toogleEdit()" *ngIf="movieEdit">Cancel</button>
      </div>
      <div class="card-body" *ngIf="movieEdit">
  
        <div class="card">
          <div class="card-header">
            Add the following properties
          </div>
          <div class="card-body">
            <div _ngcontent-c37="" class="form-group row">
              <label _ngcontent-c37="" class="col-1 col-form-label">
                <b>Title</b>
              </label>
              <div _ngcontent-c37="" class="col-11">
                <input #title id="input1" type="text" [(ngModel)] = "movie.title" class="form-control mb-3" placeholder="Title">
              </div>
            </div>
      
            <div _ngcontent-c37="" class="form-group row">
              <label _ngcontent-c37="" class="col-1 col-form-label">
                <b>Duration</b>
              </label>
              <div _ngcontent-c37="" class="col-11">
                <input #duration id="input1" type="text" [(ngModel)] = "movie.duration" class="form-control mb-3" placeholder="Duration">
              </div>
            </div>
      
            <div _ngcontent-c37="" class="form-group row">
              <label _ngcontent-c37="" class="col-1 col-form-label">
                <b>Genre</b>
              </label>
              <div _ngcontent-c37="" class="col-11">
                <select #genre [(ngModel)] = "movie.genre" class="form-control input" required>
                  <option value="2" disabled>Select a Type</option>
                  <option selected value="Biography">Biography</option>
                  <option value="Thriller">Thriller</option>
                  <option value="Drama">Drama</option>
                  <option value="Adventure">Adventure</option>
                  <option value="Horror">Horror</option>
                  <option value="Action">Action</option>
                  <option value="Comedy">Comedy</option>
                </select>
              </div>
            </div>
      
            <div _ngcontent-c37="" class="form-group row">
              <label _ngcontent-c37="" class="col-1 col-form-label">
                <b>Description</b>
              </label>
              <div _ngcontent-c37="" class="col-11">
                <input #description id="input1" [(ngModel)] = "movie.description" type="text" class="form-control mb-3" placeholder="Description">
              </div>
            </div>
      
            <div _ngcontent-c37="" class="form-group row">
              <label _ngcontent-c37="" class="col-1 col-form-label">
                <b>Image Path</b>
              </label>
              <div _ngcontent-c37="" class="col-11">
                <input #imagePath id="input1" type="text" [(ngModel)] = "movie.imagePath" class="form-control mb-3" placeholder="Image Path">
              </div>
            </div>
      
            <div _ngcontent-c37="" class="form-group row">
              <label _ngcontent-c37="" class="col-1 col-form-label">
                <b>Cast</b>
              </label>
              <div _ngcontent-c37="" class="col-11">
                <input #cast id="input1" type="text" [(ngModel)] = "movie.cast" class="form-control mb-3" placeholder="Cast">
              </div>
            </div>
      
            <div _ngcontent-c37="" class="form-group row">
              <label _ngcontent-c37="" class="col-1 col-form-label">
                <b>Release Date</b>
              </label>
              <div _ngcontent-c37="" class="col-11">
                <input #releasedate id="input1" id="example-date-input" type="date" [(ngModel)] = "movie.release_date" class="form-control mb-3" placeholder="Release Date">
              </div>
            </div>  
           
            <button class="btn btn-outline-success mr-1 mb-1" type="button" (click)="editReq(title.value,duration.value,genre.value,description.value,imagePath.value,cast.value,releasedate.value,username,movie.movie_id)"
              href="movies/info-edit"> Submit</button>
  
          </div>
        </div>
      </div>
    </div>